{% extends '../base.html' %}

{% block title %}Создать пост{% endblock %}

{% block content %}
{% if user.is_superuser %}
<section class="page-block">
    <div class="container">
        <h1 class="title mb-10">Добавить пост</h1>
        <form class="crud-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="action create w-50">Добавить</button>
        </form>
    </div>
</section>
{% else %}
{% include './alert.html' %}
{% endif %}
{% endblock %}