{% extends '../base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<section class="page-block">
    <div class="container page-block__row">
        <div class="page-block__item">
            <h1 class="title">{{ post.title }}</h1>
            <span class="news-card__date mb-10">{{ post.created_at|date:"d.m.Y"}}</span>
            <a href="{% url 'tags_news_page' slug=post.tag.slug %}" class="news-card__tag is-reverse mb-10">{{ post.tag.name }}</a>
            <img src="{{ post.image.url }}" class="full-width" alt="{{ post.title }}">
            <p class="dark-text">
                {{ post.description }}
            </p>

        </div>
        <div class="page-block__item">
            <h2 class="title">Теги</h2>
            <ul class="tags-nav">
                {% for tag in tags %}
                <li class="tags-nav__item">
                    <a href="{% url 'tags_news_page' slug=tag.slug %}" class="tags-nav__link">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="last-news p-0">
    <div class="container">
        <h3 class="title mb-10">Последние новости</h3>
        <div class="last-news__row">
            {% for p in last_posts %}
            <div class="last-news__card">
                <img src="{{ p.image.url }}" alt="{{ p.title }}" class="last-news__image">
                <div class="last-news-card__body">
                    <h3 class="last-news-card__title">{{ p.title|truncatewords:3 }}</h3>
                    <span class="last-news-card__date">{{ p.created_at|date:"d.m.Y" }}</span>
                    <a href="{% url 'news_detail_page' pk=p.pk %}" class="button is-primary d-block">Читать</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}